{% extends 'news/news_home.html' %}

{% block content %}
<br>
<div class="container">
<div class="wrapper">
    {% for article in articles %}
    <div class="new-container">
        <div class="element">
            <h2>{{article.title}}</h2>
            <h5>{{article.sub_title}}</h5>
            <img src="{{ article.image.url }}" alt="">
            <p>{{article.body}}</p>

            <div class="footer-container">
                <a class="link-reporter" href="#">
                    {{ article.section }}
                        <img class="avatar" src="media/icons/politics.png" alt="">
                </a>
                <a class="link-reporter" href="{% url 'reporter_view' article.article_reporter.pk %}">
                    by {{ article.article_reporter.first_name }} {{article.article_reporter.last_name}}
                        <img class="avatar" src="{{ article.article_reporter.reporter.image.url}}" alt="" srcset="">
                </a>
            </div>
        </div>
    </div>
    <div>
        Column
    </div>
    {% endfor %}
    
</div>

</div>
    <style>
        /* Grid */
        .wrapper {
            display: grid;
            grid-template-columns: 70% 30%;
            grid-gap: 1em;
        }

        .wrapper > div {
            padding: 1em;
        }
        
        .new-container {
            display: flex;
            flex-direction: column;
            padding: 1em;
            
        }
        .element > img {
            width: 100%;
            height: auto;
        }

        .element {
            text-align: justify;
        }
        a:link, a:visited, a:hover, a:active {
            color: black;
            text-decoration: none;
        }

        .avatar {
            height: 25px;
            width: 25x;
            background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 50%;
            background-size: 100% auto;
        }
        .footer-container {
            display: flex;
            justify-content: space-between;
        }



        
    </style>


{% endblock content %}