{% extends 'news/main.html' %}

{% block content %}

{% for article in articles %}
    <br>
    <div class="article-box">
        <div class="info-container">
            <p class="article-title" href="">{{ article.title }}</p>
            <p class="sub-title-article">{{ article.sub_title }}</p>
            {% if article.image %}
            <p><img src="{{article.image.url}}" class="article-img"></p>
            {% else %}
                <p></p>
            {% endif %}
            <p >{{ article.body }}</p>
            by  <a href="{% url 'reporter_view' article.article_reporter.pk %}"><strong>{{ article.article_reporter.last_name }}</strong></a>
            <p>Date: {{ article.pub_date }}</p>
            <p>Section:<a href="#"><strong> {{ article.section }}</strong></a></p>

        </div>

        <h3 class="comments-section">Comments</h3>
        <div class="card" style="width: 46.2rem;">
        {% if comments %}
            <ul class="list-group list-group-flush">
                {% for comment in comments %}
                    {% if article.pk == comment.article_id.pk %}
                        <li class="list-group-item">{{comment.author.first_name}} {{comment.author.last_name}}:
                             {{ comment.body }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No comments</p>
        {% endif %}
        </div>

        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Publish</button>
            {{form.author}}
        </form>
    </div>
{% endfor %}




<style>
    .article-box {
        border: 5px solid whitesmoke;
        width: 750px;
        margin-left: 3em;
        background-color: gainsboro;
    }
    .info-container {
        margin-right: 1em;
        margin-left: 1em;
        text-align: justify;
    }
    .article-title {
        color: black;
        font-size:32px
    }
    .sub-title-article {
        font-size: 20px;
        font-style: italic;
    }
    .article-body {
        font-size: 15px;
    }
    .article-img {
        width: 710px;
        height: 400px
    }
    .comments-section {
        margin-left: 0.5em;
    }
    
</style>
{% endblock %}